body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: black;
    font-size: 5em;
}

#operationsContainer{
    display: flex;
    flex-direction: row;
}

.operation{
    background-color: cadetblue;
    width: 200px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 8px;
}

.operationBack{
    color: cadetblue;
    font-size: 20em;
    text-align: center;
    line-height: 130px;
    width: 200px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#plus .operationBack {
    font-size: 40px;
    color:red;
    
}

#minus .operationBack{
    font-size: 40px;
    color:red;
}

#mult .operationBack{
    font-size: 40px;
    color:red;
}

#div .operationBack{
    font-size: 40px;
    color:red;
}

.operation button{
    position: absolute;
    height: 200px;
    width: 200px;
    opacity: 0;
}

#inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input{
    margin: 5px 20px;
    margin-bottom: 30px;
    background-color: cadetblue;
    border: none;
    color: darkred;
    font-size: 2em;
    display: inline-block;
    width: 200px;
}