@model User

@{
    ViewBag.Title = "zxczxc";
    Layout = "_Layout";
}


@using (Html.BeginForm())
{
    
    @Html.ModelEditor()
    <div class="form-group">
        <input type="submit" text="Submit"/>
    </div>
}